<link rel="stylesheet" href="/static/assets/css/global.css">
<div class="layui-row layui-admin-mt10">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a><cite>学习辅助</cite></a>
                <a><cite>课后复习</cite></a>
            </span>
</div>
<hr>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-tab layui-tab-card">
            <div class="layui-tab-content start">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>课后复习</legend>
                </fieldset>
                <blockquote class="layui-elem-quote">
                   <strong> 学习目标：</strong>
                    <p>1.能够使用常见的DOS命令</p>
                    <p>2.理解Java语言的跨平台实现原理</p>
                    <p>3.理解JDK和JRE的组成和作用</p>
                    <p>4. 能够配置环境变量JAVA_HOME</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div style="position: relative; margin: 40px auto 6px 7px;">
            <form class="layui-form layui-form-pane" id="wenjuanForm" action="#" method="post">
                <div class="site-item">
                    第一部分：基础案例练习
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">1、简述java语言，具有哪些特性？</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请在此处填写" name="q24" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text" style="margin-left: 15px">
                    2、完成JAVA_HOME方式的环境变量配置并验证。
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">3、什么是JDK，什么是JRE,这两者有什么关系？</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请在此处填写" name="q24" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">4、简述什么是java中的关键字，关键字的特点及常见的关键字。</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请在此处填写" name="q24" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">5、简述什么是标识符，标识符的组成，注意事项及命名规则。</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请在此处填写" name="q24" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">6、简述注释的作用及分类，并在HelloWorld案例中添加注释。</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请在此处填写" name="q24" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">7、简述常量的分类，完成控制台输出不同类型的常量。</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请在此处填写" name="q24" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">8、Java的“一次编写，多处运行”是如何实现的？</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请在此处填写" name="q24" class="layui-textarea"></textarea>
                    </div>
                </div>

                <hr>
                <div class="site-item">
                    第二部分：<span class="layui-badge-dot"></span>重点内容
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">1、写出8种数据类型的名称及大小（重要）</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请在此处填写" name="q24" class="layui-textarea"></textarea>
                    </div>
                </div>

                <hr>
                <div class="site-item">
                    第三部分：加强练习
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">练习一、定义类：Test1，定义main()方法，分别定义8种数据类型的变量，并赋初始值；然后打印每种类型的变量。</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请在此处填写" name="q24" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label" style="height: 154px;">练习二、Test2，定义main()方法，请按如下要求编写代码：<br>
                        a)定义一个byte类型的变量v1，赋初始值；<br>
                        将v1赋给一个int类型的变量v2；<br>
                        将v2赋给一个long类型的变量v3；<br>
                        将v3赋给一个double类型的变量v4；<br>
                        b)	打印每个变量的值；<br>

                        代码实现：<br>
                        </label>
                    <div class="layui-input-block">
                        <textarea placeholder="请在此处填写" name="q24" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label" style="height: 154px;">练习三、定义类：Test3，定义main()方法，请按如下要求编写代码：<br>
                        a)	定义一个double类型的变量v1，赋值为：3.1；<br>
                        定义一个double类型的变量v2，赋值为：88.88；<br>
                        定义一个int类型的变量v3，将v1强转后赋值给v3；<br>
                        定义一个int类型的变量v4，将v2强转后赋值给v4；<br>
                        打印v3和v4的值，请观察一个浮点型被强转为int型后的结果；<br>
                        代码实现：<br>
                    </label>
                    <div class="layui-input-block">
                        <textarea placeholder="请在此处填写" name="q24" class="layui-textarea"></textarea>
                    </div>
                </div>


                <!--<div class="site-item">
                    找出下列哪个选项是java中的关键字
                </div>
                <div class="site-item-param">
                    <div id='qwe' class='matrix'>
                        <div >
                        <span style='font-size: 25px'>
                            <input type="radio"  name="q1" value="A" title="A">
                        </span>
                            <lable>HelloWorld</lable>
                        </div>
                        <div >
                        <span style='font-size: 25px'>
                            <input type="radio"  name="q1" value="B" title="B">
                        </span>
                            <lable>class</lable>
                        </div>
                        <div >
                        <span style='font-size: 25px'>
                            <input type="radio" name="q1" value="C" title="C">
                        </span>

                            <lable>Demo</lable>
                        </div>
                        <div >
                        <span style='font-size: 25px'>
                            <input type="radio" name="q1" value="D" title="D">
                        </span>

                            <lable>String</lable>
                        </div>
                    </div>
                </div>-->




                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn"  lay-filter="wenjuan">完成复习</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/assets/js/stu/stu_course/stu_course_review.js"></script>
