<link rel="stylesheet" href="/static/assets/css/global.css">
<div class="layui-row layui-admin-mt10">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a><cite>学习辅助</cite></a>
                <a><cite>课后总结</cite></a>
            </span>
</div>
<hr>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div class="layui-tab layui-tab-card">
            <div class="layui-tab-content start">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>课后总结</legend>
                </fieldset>
                <blockquote class="layui-elem-quote">
                    <strong> 学习目标：</strong>
                    <p>1.能够使用常见的DOS命令</p>
                    <p>2.理解Java语言的跨平台实现原理</p>
                    <p>3.理解JDK和JRE的组成和作用</p>
                    <p>4. 能够配置环境变量JAVA_HOME</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
        <div style="position: relative; margin: 40px auto 6px 7px;">
            <img src="/images/course/day01.png" style="width: 100%;height: 100%;">
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/assets/js/stu/stu_course/stu_course_summarize.js"></script>
