<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>JavaEE教学辅助系统-学生端</title>
    <link rel="stylesheet" type="text/css" href="/static/plugins/layui/css/layui.css">
</head>
<body>
<div class="layui-row layui-admin-mt10">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a><cite>考试管理</cite></a>
                <a><cite>今日测试</cite></a>
            </span>
</div>

<div class="layui-row" >

</div>


</body>

</html>