<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/static/assets/img/favicon.ico">
    <title>JavaEE教学辅助系统学生端</title>
    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/css/views/admin.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><span>JavaEE教学辅助</span> 学生端</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item layui-hide-xs layui-hide-sm layui-show-md-block">
                <a href="javascript:;">
                    <img src="/images/user.jpg" class="layui-nav-img">
                    <span id="userNameSpan">admin</span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="#profile"><i class="fa fa-user"></i> 我的资料</a></dd>
                    <dd><a href="#settings"><i class="fa fa-cogs"></i> 偏好设置</a></dd>
                    <hr>
                    <dd><a href="/views/logout?from=views"><i class="fa fa-sign-out"></i> 退出</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item layui-hide-lg layui-hide-md layui-show-sm-block">
                <a href="javascript:leftMenu();" style="font-size: 18px;"><i class="fa fa-navicon"></i> </a>
            </li>
        </ul>
    </div>

    <div id="left-menu" class="layui-side layui-bg-black ">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="">
                <li class="layui-nav-item layui-show-xs-block layui-hide">
                    <a href="javascript:;">
                        <img src="/static/assets/img/favicon.ico" class="layui-nav-img">

                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="#profile"><i class="fa fa-user"></i> 我的资料</a></dd>
                        <dd><a href=""><i class="fa fa-sign-out"></i> 退了</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="layui-icon">&#xe614;</i> 系统设置</a>
                    <dl class="layui-nav-child">
                        <dd><a class="" href="#stu_config_pwd"><i class="layui-icon">&#xe612;</i>密码修改</a></dd>
                        <dd><a class="" href="#stu_config_source"><i class="layui-icon">&#xe68e;</i> 资源下载</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon">&#xe6b2;</i>学习辅助</a>
                    <dl class="layui-nav-child">
                        <dd><a href="#stu_course_before_day01"><i class="fa fa-sliders"></i>课前预习</a></dd>
                        <dd><a href="#stu_course_starting_day01"><i class="fa fa-sliders"></i>课后复习</a></dd>
                        <dd><a href="#stu_course_end_day01"><i class="fa fa-sliders"></i>课后测试</a></dd>
                        <dd><a href="#stu_course_end_day01"><i class="fa fa-sliders"></i>课后总结</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="layui-icon">&#xe6b2;</i>考试管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="#stu_test"><i class="fa fa-sliders"></i> 今日测试</a></dd>
                        <dd><a href="#stu_home_work"><i class="fa fa-sliders"></i> 今日作业</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="#"><i class="layui-icon">&#xe62c;</i> 成绩分析</a>
                    <dl class="layui-nav-child">
                        <dd><a href="#"><i class="layui-icon">&#xe623;</i>开班考试成绩</a></dd>
                        <dd><a href="#"><i class="layui-icon">&#xe629;</i> 课后测试成绩</a></dd>
                        <dd><a href="#"><i class="layui-icon">&#xe629;</i> 课后作业成绩</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="#comment"><i class="fa fa-comment-o"></i> 反馈管理</a></li>
                <li class="layui-nav-item"><a href="#message"><i class="fa fa-bell-o"></i> 留言管理</a></li>
            </ul>
        </div>
    </div>

    <div id="admin-body" class="layui-body">
        <!-- 内容主体区域 -->
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
       <span style="text-align: center;display:block;">
            © <a href="#" >JavaEE教学辅助系统</a> - 后台管理。
       </span>
    </div>
</div>
<script type="text/html" id="error">
    <div class="layui-hide">
        {{errStatus}}
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-admin-mt20">
            {{errContent}}
        </div>
    </div>
</script>
<script src="/static/plugins/jquery/jquery-2.1.4.min.js"></script>
<script src="/static/plugins/layui/layui.js"></script>
<script src="/static/assets/js/BMY.js"></script>
<script src="/static/plugins/spa/vipspa.js"></script>
<script src="/static/assets/js/stu/config/spa.config.js"></script>
<script src="/static/assets/js/stu/index.js"></script>
<script src="/static/assets/js/common.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
        element.render();
    });

    function leftMenu() {
        var $leftMenu = $("#left-menu");
        var left = $leftMenu.css("left");
        if (left === "-200px") {
            $leftMenu.animate({
                left: 0
            })
        } else {
            $leftMenu.animate({
                left: "-200px"
            })
        }
    }

    $(function () {
        BMY.hashChange($);

        $(window).resize(function () {
            if (document.getElementsByTagName("body")[0].offsetWidth > 768) {
                $("#left-menu").addClass("slideOutLeft").css("left", 0)
            } else {
                $("#left-menu").css("left", "-200px")
            }
        })
    });


</script>
</body>
</html>